@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e5e5e5;
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.row {
  display: flex;
  
  
  justify-content: space-between;
  margin-bottom: 1rem;
}

.col-header {
  width: 200px;
  height: 200px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  margin: 20px;
  color: #fff;
}

.item {
  width: 150px;
  height: 66px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  background: #080508;
  padding: 0.8rem 1rem;
  text-align: center;
  cursor: grab;
}
.item img{
  width: 190px;
  height: 190px;
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 150px;
  height: 66px;
}

.start {
  background: linear-gradient(90deg, #3b2837 0%, #229efd 179.25%);
}

.progress {
  background: linear-gradient(90deg, #23272a 0%, #68e0cf 100%);
}

.done {
  background: linear-gradient(90deg, #2a332d 0%, #8fd3f4 100%);
}
.hold{
  border-radius: 50%;
  border: 1px solid rgb(161, 161, 240);
  box-shadow: 2px 2px 2px rgba(225, 193, 242, 0.36);
}
.hide{
  display: none;
}
.hovered{
  border: 3px solid rgb(224, 199, 246);
  border-radius: 50%;
}